name: hybrid_task_runner_example
description: "Example app demonstrating hybrid_task_runner package usage."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  hybrid_task_runner:
    path: ../
  sqflite: ^2.4.2
  path: ^1.9.1
  intl: ^0.20.2
  shared_preferences: ^2.3.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
